.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin-left: 160px;
    margin-right: 160px;
}

body a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px
}

.sign-in {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 6px;
    background-color: white;

    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}

.sign-in a {
    color: #006A50;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px;
    border-radius: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

section div p {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}

section div h3 {
    font-size: 56px;
    font-weight: 800;
}

.button2 {
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border-style: none;
    padding: 17px 34px;
}

.details {
    padding-top: 115px;
    padding-bottom: 115px;
    max-width: 625px;
}

.flag {
    width: 475px;
    height: 400px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 65px;
}

.container h1 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 35px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 25px;
}

.card {
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.card img {
    width: 65px;
    height: 65px;
    padding-bottom: 25px;
}

.card h2 {
    font-size: 20px;
    font-weight: 700;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: #rgba(14, 14, 14, 0.7);
}

.div-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.headline h2 {
    font-weight: 700;
    font-size: 40px;
}

.headline p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #rgba(14, 14, 14, 0.7);
}

.big-card {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.card2 img {
    width: 65px;
    height: 65px;
}

.card2 h2 {
    font-weight: 700;
    font-size: 20px;
}

.card2 p {
    font-size: 16px;
    font-weight: 400;
    color: #rgba(14, 14, 14, 0.7);
}

.card2 {
    padding: 32px;
    border: 1px solid rgb(159, 165, 167);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    border-style: none;
}

.box1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.box2 {
    background-color: rgba(198, 228, 214, 1);
}

.box3 {
    background-color: rgba(247, 235, 207, 1);
}

.btn {
    border-radius: 8px;
    border-style: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 25px auto 25px 0;
}

.btn-blue {
    background-color: #5490F5;
}

.btn-grn {
    background-color: #09A15C;
}

.btn-ylw {
    background-color: #FFC239;
}

.speech {
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.script {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 10px;
}

.yunus {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
}

.position {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    margin-top: 0;
}

.opinion-section h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}


.table-container {
    background: #fff;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgba(198, 228, 214, 1);
}

th,
td {
    text-align: left;
    padding: 24px 36px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
}

th {
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
}

select {
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid rgba(14, 14, 14, 1);
    background-color: rgba(198, 228, 214, 1);
    font-size: 14px;
    cursor: pointer;
}

.newslater {
    background-color: rgba(198, 228, 214, 1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    align-items: center;
}

.new-contain {
    padding: 75px 265px;
    margin: 80px 265px;
    text-align: center;
    height: 240px;
}

.newshead {
    font-weight: 700;
    font-size: 40px;
}

.news-para {
    font-weight: 500;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

.special-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 24px;
}

.special-container input {
    background-color: white;
    color: rgba(14, 14, 14, 0.3);
    border-radius: 8px 0 0 8px;
    border-style: none;
    padding: 17px 34px;
    margin-right: 0;
    width: 600px;
}

.subscribe {
    border-radius: 0 8px 8px 0;
    margin-left: 0;
}

.donate-container {
    border-radius: 16px;
    text-align: center;
}

.hp-er-abba {
    text-align: center;
    width: 100%;
}
.donate {
    font-weight: 700;
    font-size: 40px;
}

.donate-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    padding-top: 0;
}

.tekarabba {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 32px auto 32px auto;
}

.tekaa {
    background-color: white;
    color: rgba(14, 14, 14, 0.8);
    border-radius: 16px;
    border-style: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 40px;
    font-weight: 700;
    font-size: 40px;
}

.grn-tekaa {
    background-color: rgba(198, 228, 214, 1);
}

.input input {
    width: 1050px;
    padding: 20px;
    margin: 32px auto;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}
